<h1> Edit Seat  </h1>
<%= form_for @seat, url: api_v1_block_seat_path ,method: :patch do |f| %>
  <%= f.hidden_field :block_id,:value => @block.id %>
  <%=f.text_field :seat_number, placeholder: "Seat_number" %><br/><br/>
  <%=f.text_field :latitude, placeholder: "Latitude of Seat" %><br/><br/>
  <%=f.text_field :longitude, placeholder: "Longitude of seat" %><br/><br/>
  <%= f.submit "Update" %>
<% end %>