<br/><br/>
<div class="col-md-12">
  <div class="col-md-12 nopadding">
    <div class="col-md-6 nopadding">
      <h2 style="margin: 0;">All seats of block</h2>
    </div>
    <div class="col-md-6 nopadding">
      <div class="col-md-10 nopadding">
        <%= link_to "+ Add New Seat", new_venue_level_block_seat_path(@venue, @level, @block), method: :get, class: "btn btn-default pull-right" %>
      </div>
      <div class="col-md-2">
        <%= link_to "Go Back", venue_level_block_path(@venue, @level, @block),class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <br/><br/>
  <table class="table table-responsive table-bordered">
    <thead>
      <tr>
        <th>Seat Number </th>
        <th>Block Id</th>
        <th>User</th>
        <th>Longitude</th>
        <th>Latitude</th>
        <th>Actions </th>
      </tr>
    </thead>
    <tbody>
      <% if @all_seats.present? %>
        <% @all_seats.each do |seat| %>
          <tr>
            <td><%= seat.seat_number %></td>
            <td><%= seat.block_id %></td>
            <td><%= seat.user.present? ? seat.user.email : "Need to assign user for this seat" %></td>
            <td><%= seat.longitude %></td>
            <td><%= seat.latitude %></td>
            <td>
              <%= link_to "Edit", edit_venue_level_block_seat_path(@venue, @level, @block, seat.id),class: "btn btn-primary" %>
              <%= link_to "Delete",  venue_level_block_seat_path(@venue, @level, @block, seat.id),class: "btn btn-danger",data: {confirm:"Are you sure, you want to delete seat?"},method: :delete %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="5">Seats are not available for this block</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
