<h1> Create Seats for block</h1>
<%= form_for @seat, url: block_seats_path ,method: :post do |f| %>
  <%=f.text_field :seat_number, placeholder: "Seat_number" %><br/><br/>
  <%=f.text_field :latitude, placeholder: "Latitude of Seat" %><br/><br/>
  <%=f.text_field :longitude, placeholder: "Longitude of seat" %><br/><br/>
  <%= f.submit "Create" %>
<% end %>
