<h1>Seat information </h1>
Seat_number :- <%= @seat.seat_number %></br></br>
Block_id :- <%= @seat.block_id %></br></br>
Seat longitude :- <%= @seat.longitude %></br></br>
Seat latitude :- <%= @seat.latitude %></br></br>

<%= link_to " Back",venue_block_seats_path(@venue, @block), class: "btn btn-primary" %>
