<br/><br/>
<div class="col-md-12">
  <div class="col-md-12 nopadding">
    <div class="col-md-6 nopadding">
      <h2 style="margin: 0;">Blocks</h2>
    </div>
    <div class="col-md-6 nopadding">
      <div class="col-md-10 nopadding">
        <%= link_to "+ Add New Block", new_venue_block_path(@venue), method: :get, class: "btn btn-default pull-right" %>
      </div>
      <div class="col-md-2">
        <%= link_to "Go Back", venue_path(@venue),class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <br/><br/>
  <table class="table table-responsive table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Seats</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% if @blocks.present? %>
        <% @blocks.each do |block| %>
          <tr>
            <td><%= block.name %></td>
            <td><%= block.no_of_seats %></td>
            <td>
              <%= link_to "Edit", edit_venue_block_path(@venue, block), method: :get, class: "btn btn-primary" %>
              <%= link_to "Manage", venue_block_path(@venue, block), method: :get, class: "btn btn-primary" %>
              <%= link_to "Delete", venue_block_path(@venue, block), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure, you want to delete this block?"} %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="3">Blocks are not present for this venue</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
