<br/><br/>
<div class="col-md-12">
  <div class="col-md-12 nopadding">
    <div class="col-md-6 nopadding">
      <h2 style="margin: 0;">Block</h2>
    </div>
    <div class="col-md-6 nopadding text-right">
      <%#= link_to "+ Add New Block", new_venue_block_path(@venue), method: :get, class: "btn btn-default pull-right" %>
      <%= link_to "Go Back", venue_level_blocks_path(@venue, @level),class: "btn btn-primary" %>
    </div>
  </div>
  <br/><br/>
  <table class="table table-responsive table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>No. of seats</th>
        <th>Left</th>
        <th>Right</th>
        <th>Top Left</th>
        <th>Top Right</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% if @block.present? %>
        <tr>
          <td><%= @block.name%></td>
          <td><%= @block.no_of_seats %></td>
          <td><%= @block.left %></td>
          <td><%= @block.right %></td>
          <td><%= @block.top_left %></td>
          <td><%= @block.top_right %></td>
          <td>
            <%=link_to "Edit", edit_venue_level_block_path(@venue, @level, @block), method: :get, class: "btn btn-primary" %>
            <%=link_to "Manage Seats", venue_level_block_seats_path(@venue, @level, @block), method: :get, class: "btn btn-primary" %>
            <%=link_to "Delete", venue_level_block_path(@venue, @level, @block), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure, you want to delete this block?"} %>
          </td>
        </tr>
      <% else %>
        <tr>
          <td colspan="7">Block is not present</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
