<br/><br/>
<div class="col-md-12">
  <div class="col-md-12 nopadding">
    <div class="col-md-6 nopadding">
      <h2 style="margin: 0;">All Venues</h2>
    </div>
    <div class="col-md-6 nopadding">
      <%= link_to "+ Add New Venue", new_api_v1_venue_path, method: :get, class: "btn btn-default pull-right" %>
    </div>
  </div>
  <br/><br/>
  <% if @venues.present? %>
    <table class="table table-responsive table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Location</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @venues.each do |venue| %>
          <tr>
            <td><%= venue.name%></td>
            <td><%= venue.location %></td>
            <td>
              <%=link_to "Edit", edit_api_v1_venue_path(venue), method: :get, class: "btn btn-primary" %>
              <%=link_to "Manage", api_v1_venue_path(venue), method: :get, class: "btn btn-primary" %>
              <%=link_to "Delete", api_v1_venue_path(venue), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"} %>
            </td>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
