<br/><br/>
<div class="col-md-12">
  <div class="col-md-12 nopadding">
    <div class="col-md-6 nopadding">
      <h2 style="margin: 0;">All Venues</h2>
    </div>
    <div class="col-md-6 nopadding">
      <%= link_to "+ Add New Venue", new_venue_path, method: :get, class: "btn btn-default pull-right" %>
    </div>
  </div>
  <br/><br/>
  <table class="table table-responsive table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% if @venues.present? %>
        <% @venues.each do |venue| %>
          <tr>
            <td><%= venue.name%></td>
            <td><%= venue.location %></td>
            <td>
              <%=link_to "Edit", edit_venue_path(venue), method: :get, class: "btn btn-primary" %>
              <%=link_to "Manage", venue_path(venue), method: :get, class: "btn btn-primary" %>
              <%=link_to "Delete", venue_path(venue), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure, you want to delete this venue?"} %>
            </td>
        <% end %>
      <% else %>
        <tr>
          <td colspan="3">Venues are not present</td>
        </tr>
      <% end %>
    </tbody>
  </table>  
</div>
