<div class="row">
  <div class="col-md-12">
    <%= form_for [@venue, @level] do |f| %>
      <%= f.hidden_field :venue_id %>
      <div class="form-group">
        <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
      </div>
      <div class="form-group">
        <%= f.submit f.object.new_record? ? 'Create' : 'Update', class: "btn btn-primary" %>
        <%= link_to "Go Back", venue_levels_path(@venue), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
