<div class="row">
  <div class="col-md-12">
    <%= nested_form_for [@venue, @level] do |f| %>
      <%= f.hidden_field :venue_id %>
      <div class="form-group">
        <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
      </div>
      
      <h4>Paths</h4>
      <%= f.fields_for :lat_longs do |field| %>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= field.text_field :start, class: "form-control", placeholder: "Start Lat,Long" %>
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="form-group">
              <%= field.text_field :end, class: "form-control", placeholder: "End Lat,Long" %>
            </div>
          </div>
        </div>
        <div class="col-md-12 nopadding">
          <div class="form-group">
            <%= field.link_to_remove "", class: "glyphicon glyphicon-trash btn btn-danger pull-right delete_path" %>
          </div>
        </div>
      <% end %>
      
      <%= f.link_to_add "+ Add More Paths", :lat_longs, class: "btn btn-success pull-right" %>
      
      <div class="form-group">
        <%= f.submit f.object.new_record? ? 'Create' : 'Update', class: "btn btn-primary" %>
        <%= link_to "Go Back", venue_levels_path(@venue), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
