<!DOCTYPE html>
<html>
<head>
  <title>AtlasmonkeyApi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h3><%= link_to "signout", destroy_user_session_path,class:"pull-right " if current_user.present? %></h3>
<%= render partial: "/shared/flash_messages" %>
<%= yield %>

</body>
</html>
